body, html {
    height: 100%;
    margin: 0;

    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("{{ url_for('static', filename='bg.jpg') }}");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: -1;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
}

.card img {
    height: 200px;
    object-fit: cover;
}

form {
    max-width: 600px;
    margin: auto;
}
